*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  overflow: hidden;
  font-size: 62.5%; // 1 rem = 10px; 10px/16px = 62.5%

  @include mobile {
    font-size: 56.25%; // 1rem = 9px
  }
}

body {
  box-sizing: border-box;
  position: relative;
}

.app {
  background-color: $color-lightblue;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
